@import url(//fonts.googleapis.com/css?family=Poiret+One);

$background-color: #171717;
$primary-color: #FBC93D;

body {
    font-size: 100%;
    background-color: $background-color;
}

.heading {
    color: $primary-color;
    font-weight: bold;
    padding: 0;
    text-align: center;
    font-family: 'Poiret One';
}

.container {
    max-width: 710px;
    margin: 0 auto;
    text-align: center;

    button {
        margin: 0.5em;
        font-size: 1.5em;
        background-color: white;
        border-radius: 5px;
        padding-top: 0.15em;
        padding-bottom: 0.15em;
    }

    ul {
        list-style: none;
        padding-left: 0;    
    }

    input {
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    label {
        font-size: 1.5em;
        color: #ECECEC;
    }
}

#wiki-loop-about {
    color: $primary-color;
    display: none;
}

.active {
    opacity: 0.5;
}

a, a:visited {
    text-decoration: none;
    color: #fb4f4f;
}   