<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <title>WikiLooper</title>
    </head>
    <body>
        <h1 class="heading">WikiLooper</h1>
        <h2 class="heading">All paths lead to Philosophy (Or Don't)</h2>

        <div class="container">
            <form>
                <label for="wiki-form-search-box">Starting article</label>
                <br>
                <input id="wiki-form-search-box" type="text" placeholder="Computer, Python, etc.">
                <br>
                <button type="button" id="js-start">Start</button>
                <button onclick="toggleAbout(); return false;">About</button>
            </form>
        </div>

        <div id="wiki-loop-about">
            <p>
                Clicking on the first link in the main text of a Wikipedia article, and then repeating the process for subsequent articles, one would  eventually get to the Philosophy article. Unless there is an article with no wikilinks or with links to pages that do not exist, or gets stuck in a loop. By entering the first article, this website will take you through the links one would encounter until it reaches Philosophy or gets stuck in a loop.
            </p>
        </div>

        <div class="container">
            <ul id="wiki-loop-list">
            </ul>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
